@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype'),
         url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{ margin: 0px;}
#website { display: block; position: relative; width: 100%; height: 100%; font-family: oswaldlight; background-size: cover;}

#sidebar { width: 320px; height: 100%; display: block; position: absolute; left: 30px; top: 0px; overflow-x: hidden; overflow-y: scroll; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.8);}
#sidebarBack { width: 320px; height: 100%; background-color: #000000; opacity: 0.8; z-index: 1; display: block; position: fixed;}
#sidebarFront { width: 100%; height: 100%; z-index: 10; display: block; position: absolute; }
#logo { display: block; position: absolute; width: 233px; height: 233px; top: 30px; left: 44px; z-index: 20px;}
#content { display: block; position: absolute; top: 265px;}

#linkbar { position: absolute; display: block; height: 50px; left: 350px; right: 0px; top: 30px; overflow: hidden; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.8);  }
#linkBack { width: 100%; height: 50px; background-color: #000000; opacity: 0.8; z-index: 1; display: block; position: absolute;}
#linkFront { width: 100%; height: 50px; z-index: 10; display: block; position: absolute; padding-top: 8px; }

#linkbar h3 {padding-top: 8px;}
#linkbar a { margin: 5px; padding: 10px; margin-top: 8px;}

h1.tiny { font-size: 1px; color: #000000;}
h2, p { color: #ffffff; font-size: 16px; padding: 5px 10px 5px 10px; letter-spacing: 2.5px; text-align: center;}
h2 { font-size: 20px;}
h3 { font-size: 25px; margin: 0px;}
a { text-decoration: none; color: #ffffff; }


a, .fade {
   opacity: 0.75;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

a:hover, .fade:hover {
      opacity: 1;
      }


